{{#each model.data.children as |post|}}
  <div class="subreddit">
    <p>
      <div>
        <a href="{{post.data.url}}">
          {{post.data.title}}
        </a>

        ({{post.data.domain}})
      </div>
      <div>
        Comments: {{post.data.num_comments}}
      </div>
      <div>
        Upvotes: {{post.data.ups}}, Downvotes: {{post.data.downs}}
      </div>
    </p>
    {{!-- <p>{{post.domain}}</p>
    <p>Upvotes:{{post.ups}}, Downvotes: {{post.downs}}</p> --}}
  </div>
{{/each}}


{{outlet}}
